
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
html{
  font-family: "Montserrat", sans-serif;
}
body{
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 16px;
  margin: 0;
}
.heading{
  background-color:#f5ba13 ;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: white;
  font-weight: lighter;
  margin: 0 -16px; 
  padding: 10px;
  padding-left: 40px; 
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.heading svg{
  position: relative;
  top: 4px;
}
.footer{
  position: absolute;
  bottom: 10px;
  right: 16px;
  width: 100%;
  margin: 0;

  text-align: center;
  color: dimgray;
}
.note{
  font-size: 0.8rem;
  background-color: white;
 max-width: 240px;
 min-width: 240px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  margin: 24px;
  /* float: left; */
  display: inline-block;
}

.note:hover{
  box-shadow: 5px 5px 10px 1px #ccc;

}
.note h1{
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 6px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.note p{
  font-size: 1rem;
  margin: 0;
  margin-bottom: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
} 



.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: white;
}

form.create-note {
  position: relative;
  max-width: 480px;
  min-width: 240px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
form.create-note button:hover{
  background: #fff;
  color:#f5ba13 ;
}


form.editnote input,
form.editnote textarea {
  
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.5em;
  font-family: inherit;
  resize: none;
}

form.editnote input{
  border-bottom: 1px solid black;
}

































 
