.loading_screen_container {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 35px;

}



.refresh_button {
  position: absolute;
  right: 10px;
  top: 4px;
  width: 50px;
  background-color: white;
  border: none;
  cursor: pointer;
}